@import 'tailwindcss';

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #38bdf8;
  --font-sans: 'Inter', sans-serif;
}

:root {
  color-scheme: dark;
}

html, body {
  overflow-x: hidden;
}

body {
  @apply bg-primary text-slate-100;
}

html {
  scroll-behavior: smooth;

  /* Custom Scrollbar */
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #0f172a;
  }
  &::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}
